# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true


[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4
line_length = 120
known_third_party = factory, ipware, responses, requests, nose, south, coverage, suds, geopy, user_agents, celery, vokativ, dateutil, jsonfield, easymode, PIL, pillow, mock, xlrd, attrdict, jinja2
multi_line_output = 5
lines_after_imports = 2
known_django = django
known_chamber = chamber
sections = FUTURE, STDLIB, THIRDPARTY, DJANGO, CHAMBER, FIRSTPARTY, LOCALFOLDER


[*.md]
trim_trailing_whitespace = false

[flake8]
max_line_length = 120
